body {
    font-size: 1.5em;
    margin: 0;
    font-family: sans-serif;
}

.container {
    margin: 0 40px;
}

.center{
    text-align: center;
}

#map {
    width: 100%;
    height: 400px;
    border: 1px solid balck;
}

#onIdlePositionView{
    font-size: 1.8em;
    margin-top: -20px;
}

.small{
    font-size: 0.8em;
}

#confirmPosition{
    border:none;
    margin-top: -30px;
    background-color: cornflowerblue;
    font-size: 0.8em;
    padding:10px 20px;
    color: white;
}

#confirmPosition:hover{
    background-color: green;
    cursor: pointer;
}

#confirmPosition:focus{
    outline: none;
}

.no-loading{
    display: none;
}

.error{
    color: red;
}